#graph-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1em;
}

#graph {
  height: 20em;
  .graph-shape {
    fill: $fill-color;
    fill-opacity: 85%;
  }

  .graph-axle-text,
  .graph-axle-arrow,
  .graph-label {
    fill: $stroke-color;
  }

  .graph-axle-line,
  .graph-axle-arrow,
  .graph-point {
    stroke: $stroke-color;
  }

  .dotted-line-x,
  .dotted-line-y,
  .dotted-raw-x,
  .dotted-raw-y {
    stroke: $stroke-color;
    stroke-dasharray: 5;
  }

  .dotted-raw-x,
  .dotted-raw-y {
    stroke-width: 2px;
    stroke: $dotted-line-color;
  }

  .crossing {
    fill: $dotted-line-color;
  }
}

.line {
  stroke: transparent;
  &.active {
    stroke: rgb(255, 0, 0);
    stroke-width: 1px;
  }

  &.pointer {
    stroke: black;
    stroke-width: 1px;
  }
}

.inactive {
  display: none;
}

#y-line {
  stroke: transparent;

  &.active {
    stroke: rgb(255, 0, 0);
  }
}
